h1, h2 {
  font-size: var(--text-md);
  font-weight: normal;
}

h1 {
  color: rgb(var(--googleRed));
  align-self: flex-start;
}

label {
  font-size: var(--text-sm);
}

.searchForm__input__query {
  border-radius: 0;
  font-size: var(--text-sm)
  padding: 2px;
}

.searchForm__input__query:hover {
  box-shadow: rgba(0, 0, 0, 0);
}

.searchForm {
  width: 90%;
}

.searchForm__itemWrapper input {
  transform: translateX(50%);
}
